.stepper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 50px;

  &Body {
    width: calc(100% * var(--numOfSteps));
    display: flex;
    overflow: hidden;
    transform: translateX(calc(100% / var(--numOfSteps) * var(--currentStep)));
  }
}
