@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.container {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  row-gap: 49px;
}

.section {
  border-radius: 5px;
  box-shadow: 0px 6px 12px $gray-08;
}

.textSection {
  @extend .section;

  background-color: $white;
}

.heading {
  @extend .font-family-primary;
  @extend .font-weight-bold;
  @extend .font-size-xl;
  @extend .line-height-m;
  @extend .font-color-dark;
  @extend .text-align-center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  padding: 31px 40px 40px 40px;
}

.title {
  @extend .font-family-secondary;
  @extend .font-weight-medium;
  @extend .font-size-l;
  @extend .line-height-2xl;
  @extend .font-color-dark;
  @extend .letter-spacing-smaller;
}

.text {
  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .line-height-m;
  @extend .font-color-dark;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 16px 40px;
}

.actionsWrapper {
  display: flex;
  column-gap: 16px;
}

.cancelBtn {
  width: 120px;
}

.previewBtn,
.saveBtn {
  width: 128px;
}

.dates {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

@media (max-width: 610px) {
  .dates {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 16px;
  }
}

@media (max-width: 580px) {
  .actionButton {
    width: fit-content;
  }
}

@media (max-width: 480px) {
  .main,
  .actions {
    padding-left: 20px;
    padding-right: 20px;
  }

  .actions {
    flex-direction: column;
  }

  .actionsWrapper {
    flex-direction: column-reverse;
  }

  .actions,
  .actionsWrapper {
    justify-content: flex-start;
    align-items: center;
    row-gap: 16px;
  }

  .actionButton,
  .actionsWrapper {
    width: 100%;
  }
}
