@import '~style/typography';
@import '~style/mixins';

.container {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  @extend .font-family-primary;
  @extend .font-weight-bold;
  @extend .font-size-xl;
  @extend .line-height-m;
  @extend .font-color-dark;
  @extend .text-align-center;
}

.news {
  &List {
    list-style: none;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &Item {
    cursor: pointer;
    @include smooth-transition(transform);

    &:active {
      transform: scale(0.99);
    }
  }
}
