@import '~style/typography';

.topicsTab {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.counter {
  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .font-color-gray-01;
}

.topics {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.createMeetupBtn {
  width: 152px;
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 16px;
  }
}
