@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.container {
  position: relative;
  width: 100%;

  .textArea {
    resize: none;
    overflow: hidden;
    height: inherit;
    padding-bottom: 30px;
  }
}

.counter {
  position: absolute;
  right: 13px;
  bottom: 13px;

  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-2xs;
  @extend .line-height-xs;
  @extend .font-color-gray-03;

  .letterCount {
    @extend .font-weight-medium;
    @extend .font-color-gray-02;
  }
}
