@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.tabs {  
  width: 100%;
  display: flex;
  margin-top: 50px;

  border-bottom: 1px solid $gray-06-color;

  cursor: pointer;
}

.tab {
  position: relative;

  width: 100%;   
  display: flex;
  justify-content: center;
  padding-bottom: 15px;

  @extend .ff-1;
  @extend .fw-regular;
  @extend .fs-s;
  @extend .lh-s;
  @extend .fc-gray-02;

  &.active {
    @extend .fw-medium;
    @extend .fc-black;
  }
}

.tab-indicator {
  position: relative;
  left: 0px;
  bottom: 2px;

  height: 2px;
  margin-bottom: 30px;

  background: $purple-color; 

  @include smooth-transition(all);
}