@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.tabs {
  width: 100%;
  display: flex;

  border-bottom: 1px solid $gray-06-color;

  cursor: pointer;

  & > * {
    position: relative;

    width: 100%;
  }
}

.tab-indicator {
  position: relative;
  left: calc(calc(100% / var(--numOfTabs)) * var(--position));
  bottom: 2px;

  width: calc(100% / var(--numOfTabs));
  height: 2px;
  margin-bottom: 30px;

  background: $purple-color;

  @include smooth-transition(all);
}
