@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.tabsWrapper {
  min-width: 100%;
  width: max-content;
}

.tabs {
  width: inherit;
  min-width: inherit;

  display: grid;
  grid-auto-columns: 1fr;
  align-items: flex-end;

  border-bottom: 1px solid $gray-08;

  cursor: pointer;

  & > * {
    grid-row: 1;
  }
}
