@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.tabs {  
  width: 100%;
  display: flex;

  border-bottom: 1px solid $gray-08;

  cursor: pointer;

  & > * {
    width: 100%; 
  }
}
