@import '~style/colors';
@import '~style/mixins';

.indicator {
  position: relative;
  left: calc(100% / var(--numOfTabs) * var(--position));
  bottom: 2px;

  width: calc(100% / var(--numOfTabs));
  height: 2px;
  margin-bottom: 30px;

  background: $purple-color; 

  @include smooth-transition(all);
}