@import '~style/colors';
@import '~style/typography';

.tabs {
  margin-top: 50px;
}

.tab {
  position: relative;

  width: 100%;   
  display: flex;
  justify-content: center;
  padding-bottom: 15px;

  @extend .ff-1;
  @extend .fw-regular;
  @extend .fs-s;
  @extend .lh-s;
  @extend .fc-gray-02;

  &.active {
    @extend .fw-medium;
    @extend .fc-black;
  }
}
