@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.svg-styles {
  vertical-align: middle;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.container {
  display: flex;

  @extend .ff-1;
  @extend .fw-regular;
  @extend .fs-xxs;
  @extend .lh-m;

  &.error {
    @extend .fc-red;

    &::before {
      @extend .svg-styles;

      content: url(./assets/error.svg);
    }
  }

  &.success {
    @extend .fc-green;

    &::before {
      @extend .svg-styles;

      content: url(./assets/success.svg);
    }
  }
}
