@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.header {
  height: 70px;
  display: flex;
  align-items: center;

  background: $purple-gradient-color;
  box-shadow: 0px 4px 8px $gray-shadow-02-color;
}

.container {
  width: 80%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  display: flex;
  column-gap: 70px;

  &-link {
    position: relative;

    @extend .ff-1;
    @extend .fw-regular;
    @extend .fs-s;
    @extend .lh-s;
    @extend .fc-white;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 50%;

      background-color: $white-color;

      @include smooth-transition(transform);
      transform-origin: center;
      transform: scale(0);
    }

    &:hover::after,
    &.active::after {
      transform: scale(1);
    }
  }
}
