/* Primary */

$blue-01-color: #2a40bf;
$blue-02-color: #314ad7;
$purple-color: #8065ec;
$light-purple-color: #e4e8ff;

/* Gradient */

$purple-gradient-01-color: linear-gradient(
  63.5deg,
  $purple-color 17%,
  $blue-02-color 83%
);
$purple-gradient-02-color: linear-gradient(
  132.17deg,
  $purple-color -2.22%,
  $blue-02-color 103.24%
);

/* Transparent */

$black-shadow-color: rgba(0, 0, 0, 0.1);

$gray-shadow-01-color: rgba(60, 72, 97, 0.3);
$gray-shadow-02-color: rgba(51, 63, 82, 0.15);
$gray-shadow-03-color: rgba(105, 112, 127, 0.3);
$gray-shadow-04-color: rgba(194, 203, 218, 0.25);
$gray-shadow-05-color: rgba(215, 221, 232, 0.15);
$gray-shadow-06-color: rgba(215, 221, 232, 0.4);

$gray-transparent-01-color: rgba(132, 143, 165, 0.2);
$gray-transparent-02-color: rgba(132, 143, 165, 0.1);

$purple-transparent-01-color: rgba(128, 101, 236, 0.4);
$purple-transparent-02-color: rgba(128, 101, 236, 0.2);
$blue-02-transparent: rgba(49, 74, 215, 0.6);
$white-transparent-color: rgba(255, 255, 255, 0.43);

/* Neutral */

$dark-color: #3c4861;
$white-color: #ffffff;

$gray-01-color: #5b6887;
$gray-02-color: #848fa5;
$gray-03-color: #aab6ca;
$gray-04-color: #c2cbda;
$gray-05-color: #d5dce7;
$gray-06-color: #e2e7ef;
$gray-07-color: #f4f6fc;

/* Additional */

$green-01-color: #009a73;
$green-02-color: #36b27e;
$green-03-color: #2bbc7e;
$green-04-color: #d6f7e9;
$green-05-color: #7ed321;

$red-01-color: #ef2f00;
$red-02-color: #ff380c;
$red-03-color: #ffebe5;

$orange-01-color: #fb9700;
$orange-02-color: #ffc121;
$orange-03-color: #fff6dc;
