@mixin smooth-transition($transition-property) {
  transition-property: $transition-property;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/* Line height */
@mixin line-height($line-spacing) {
  line-height: calc(100% + $line-spacing);
}

@mixin multiline-ellipsis($max-lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  /* Borrowed from here: */
  /* https://kiranworkspace.com/ellipsis-to-multiline-text-in-css/ */
  white-space: normal;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
}

/* For smooth transition from gradient to solid */
@mixin placeholder-gradient($color) {
  background: linear-gradient($color, $color);
}

/* Shorthand properties are not inheritable */
@mixin border-radius-inherit() {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
