@import '_colors.scss';

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.woff2') format('woff2'),
    url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.woff2') format('woff2'),
    url('fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Regular.woff2') format('woff2'),
    url('fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Utility classes */

.font-family {
  &-1 {
    font-family: 'Roboto', sans-serif;
  }
  &-2 {
    font-family: 'Rubik', sans-serif;
  }
}

.font-size {
  &-xs {
    font-size: 14px;
  }
  &-s {
    font-size: 16px;
  }
  &-m {
    font-size: 18px;
  }
  &-l {
    font-size: 20px;
  }
  &-xl {
    font-size: 24px;
  }
}

.font-weight {
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
}

@mixin line-height($line-spacing) {
  line-height: calc(100% + $line-spacing);
}

.line-height {
  &-xs {
    @include line-height(2px);
  }
  &-s {
    @include line-height(3px);
  }
  &-m {
    @include line-height(4px);
  }
  &-l {
    @include line-height(5px);
  }
  &-xl {
    @include line-height(6px);
  }
  &-xxl {
    @include line-height(7px);
  }
}

.letter-spacing {
  &-0 {
    letter-spacing: normal;
  }
  &-1 {
    letter-spacing: 0.25px;
  }
  &-2 {
    letter-spacing: 0.4px;
  }
}

.font-color {
  &-black {
    color: $black-color;
  }
  &-gray-01 {
    color: $gray-01-color;
  }
  &-gray-02 {
    color: $gray-02-color;
  }
  &-gray-03 {
    color: $gray-03-color;
  }
  &-white {
    color: $white-color;
  }
  &-purple {
    color: $purple-color;
  }
}

.text-align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
