@import '_colors.scss';

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.woff2') format('woff2'),
    url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.woff2') format('woff2'),
    url('fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Regular.woff2') format('woff2'),
    url('fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xl: 24px;
$font-size-l: 20px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;

$line-spacing-xl: 7px;
$line-spacing-l: 5px;
$line-spacing-m: 4px;
$line-spacing-s: 3px;
$line-spacing-xs: 2px;

/* Heading text */

.h1--f1 {
  font-family: $main-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  line-height: calc(100% + $line-spacing-m);
  color: $black-color;
}

.h2--f1 {
  font-family: $main-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-l;
  line-height: calc(100% + $line-spacing-s);
  color: $black-color;
}

.h3--f1 {
  font-family: $main-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-m;
  line-height: calc(100% + $line-spacing-s);
  color: $black-color;
}

.h4--f1 {
  font-family: $main-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;
  line-height: calc(100% + $line-spacing-s);
  color: $black-color;
}

.h2--f2 {
  font-family: $secondary-font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-l;
  line-height: calc(100% + $line-spacing-m);
  color: $black-color;
}

.h3--f2 {
  font-family: $secondary-font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-m;
  line-height: calc(100% + $line-spacing-s);
  color: $black-color;
}

.subtitle {
  font-family: $main-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  line-height: calc(100% + $line-spacing-xl);
  color: $black-color;
}

/* Body text */

%body-base {
  font-family: $main-font-family;
  font-weight: $font-weight-regular;
  color: $black-color;
}

.body {
  &--s {
    @extend %body-base;
    font-size: $font-size-s;
    line-height: calc(100% + $line-spacing-l);
  }
  &--xs {
    @extend %body-base;
    font-size: $font-size-xs;
    line-height: calc(100% + $line-spacing-xl);
  }
}

/* Button text */

%btn-text-base {
  font-family: $main-font-family;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;
  line-height: calc(100% + $line-spacing-xs);
}

.btn-text {
  &--primary {
    @extend %btn-text-base;
    color: $white-color;
  }
  &--secondary {
    @extend %btn-text-base;
    color: $purple-color;
  }
  &--default {
    @extend %btn-text-base;
    color: $gray-02-color;
  }
}

/* Placeholder */

%placeholder-base {
  font-family: $main-font-family;
  font-weight: $font-weight-regular;
  line-height: calc(100% + $line-spacing-xs);
  font-size: $font-size-xs;
}

.placeholder {
  &--default {
    @extend %placeholder-base;
    color: $gray-02-color;
  }
  &--focus {
    @extend %placeholder-base;
    color: $gray-03-color;
  }
  &--active {
    @extend %placeholder-base;
    color: $black-color;
  }
}

.label {
  font-family: $main-font-family;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;
  line-height: calc(100% + $line-spacing-xs);
  color: $gray-03-color;
}

/* Paragraph text */

%paragraph-base {
  font-family: $main-font-family;
  font-weight: $font-weight-regular;
  line-height: calc(100% + $line-spacing-xl);
  font-size: $font-size-xs;
}

.paragraph {
  &--c1 {
    @extend %paragraph-base;
    color: $gray-01-color;
  }
  &--c2 {
    @extend %paragraph-base;
    color: $gray-02-color;
  }
  &--c3 {
    @extend %paragraph-base;
    color: $gray-03-color;
  }
}
