@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.heading {
  @extend .font-family-primary;
  @extend .font-weight-bold;
  @extend .font-size-xl;
  @extend .line-height-m;
  @extend .font-color-dark;
  @extend .text-align-center;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.data {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &Name {
    @extend .font-family-primary;
    @extend .font-weight-regular;
    @extend .font-size-xs;
    @extend .font-color-gray-03;
  }

  &Content {
    padding: 25px;
    background: $white-color;
    box-shadow: 0px 4px 7px $gray-shadow-06-color;
    border-radius: 5px;
  }
}

.headerData {
  display: flex;
  flex-direction: column;

  background: $white-color;
  box-shadow: 0px 4px 7px $gray-shadow-06-color;
  border-radius: 5px;

  .image {
    width: 100%;
  }
}

.headerDataContent {
  padding: 25px;
}

.meetupHeading {
  @extend .font-family-secondary;
  @extend .font-weight-medium;
  @extend .font-size-l;
  @extend .line-height-xxl;
  @extend .font-color-dark;
  @extend .letter-spacing-smaller;
}

.timePlaceInfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 15px;

  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .font-color-dark;
  @extend .line-height-0;

  .image {
    height: 15px;
  }
}

.speakerWrapper {
  display: flex;
  column-gap: 30px;
}

.excerpt {
  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .line-height-m;
  @extend .font-color-dark;
}

.votedUsers {
  display: flex;
  justify-content: space-between;
}

.restCounter {
  min-width: 50px;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $gray-03-color;

  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .font-color-white;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actionsWrapper {
  display: flex;
  column-gap: 10px;
}