@import '~style/colors';
@import '~style/typography';

.tabs {
  margin-top: 55px;

  width: 100%;
  overflow-x: auto;
}

.tab {
  position: relative;
  width: auto;

  display: flex;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;

  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-s;
  @extend .line-height-s;
  @extend .font-color-gray-02;
  @extend .text-align-center;

  &.active {
    @extend .font-weight-medium;
    @extend .font-color-dark;
  }
}
