@import '~style/colors';
@import '~style/mixins';

.indicator {
  position: relative;
  left: calc(100% / var(--tabsCount) * var(--activeTabIndex));
  bottom: 2px;

  width: calc(100% / var(--tabsCount));
  height: 2px;

  background: $purple;

  @include smooth-transition(all);
}
