@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;

  background: $purple-gradient-01;
  box-shadow: 0px 4px 8px rgba($dark-01, $alpha: 0.15);
}

.container {
  height: 70px;
  width: 90%;
  max-width: 1080px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 70px;
  margin: 0 auto;
}

.logo {
  height: 45px;
}

.nav {
  display: flex;
  justify-content: center;
  column-gap: 70px;
}

.logoWrapper,
.userInfo {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  column-gap: 20px;
}

.logoWrapper {
  justify-content: flex-start;
}

.userInfo {
  justify-content: flex-end;
}

.burger {
  display: none;
}

@media (max-width: 960px) {
  .languageSelect {
    display: none;
  }

  .userInfo {
    display: none;
  }

  .burger {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
  }
}

@media (max-width: 630px) {
  .nav {
    display: none;
  }
}
