@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.wrapper {
  position: relative;

  display: inline-block;

  &:hover {
    cursor: default;
  }
}

.tooltip {
  position: absolute;
  top: 40px;
  left: 50%;

  width: max-content;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  visibility: hidden;
  padding: 20px 30px;
  z-index: 1;

  border-radius: 3px;
  opacity: 0;

  transform: translate(-50%);
  @include smooth-transition(opacity);

  &::before {
    content: '';
    position: absolute;
    top: -7px;

    padding: 8px;
    z-index: 1;

    border-radius: 2px;

    transform: rotate(45deg);
  }

  &.dark,
  &.colored {
    .title,
    .description {
      @extend .font-color-white;
    }
  }

  &.dark {
    background-color: $black-color;

    &::before {
      background-color: $black-color;
    }
  }

  &.colored {
    background-color: $purple-color;
    box-shadow: 0px 9px 24px $gray-shadow-03-color;

    &::before {
      background-color: $purple-color;
    }
  }

  &.outline,
  &.white {
    background-color: $white-color;

    .title {
      @extend .font-color-black;
    }

    .description {
      @extend .font-color-gray-02;
    }

    &::before {
      background-color: $white-color;
    }
  }

  &.white {
    box-shadow: 0px 9px 24px $gray-shadow-03-color;
  }

  &.outline {
    box-shadow: 0px 2px 4px $gray-shadow-04-color;
    border: 1px solid $gray-05-color;

    &::before {
      border: 1px solid $gray-05-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;

      padding: 8px 14px;
      z-index: 1;

      background-color: $white-color;
    }
  }
}

.title {
  @extend .font-family-secondary;
  @extend .font-weight-medium;
  @extend .font-size-s;
  @extend .line-height-s;
  @extend .letter-spacing-larger-03;
  @extend .text-align-center;
}

.description {
  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-xs;
  @extend .line-height-xl;
  @extend .letter-spacing-normal;
  @extend .text-align-center;
}

.visible {
  visibility: visible;
  opacity: 1;
}
