@import '~style/colors';
@import '~style/mixins';

.wrapper {
  position: relative;

  display: inline-block;

  &:hover {
    cursor: default;
  }
}

.tooltip {
  position: absolute;
  top: 40px;
  left: 50%;

  width: max-content;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  visibility: hidden;
  box-sizing: border-box;
  padding: 20px 30px;
  z-index: 1;

  border-radius: 3px;
  opacity: 0;

  transform: translate(-50%);
  @include smooth-transition(opacity);

  &::before {
    content: '';
    position: absolute;
    top: -7px;

    padding: 8px;
    z-index: 1;

    border-radius: 2px;

    transform: rotate(45deg);
  }

  &.dark,
  &.colored {
    .title,
    .description {
      color: $white-color;
    }
  }

  &.dark {
    background-color: $black-color;

    &::before {
      background-color: $black-color;
    }
  }

  &.colored {
    background-color: $purple-color;
    box-shadow: 0px 9px 24px $gray-shadow-03-color;

    &::before {
      background-color: $purple-color;
    }
  }

  &.white {
    background-color: $white-color;
    box-shadow: 0px 9px 24px $gray-shadow-03-color;

    .description {
      color: $gray-02-color;
    }

    &::before {
      background-color: $white-color;
    }
  }

  &.outline {
    background-color: $white-color;
    border: 1px solid $gray-05-color;
    box-shadow: 0px 2px 4px $gray-shadow-04-color;

    .description {
      color: $gray-02-color;
    }

    &::before {
      background-color: $white-color;
      border: 1px solid $gray-05-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;

      padding: 8px 14px;
      z-index: 1;

      background-color: $white-color;
    }
  }
}

.description {
  text-align: center;
}

.visible {
  visibility: visible;
  opacity: 1;
}
