@use 'sass:color';
@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.news {
  position: relative;

  .image {
    position: absolute;
    z-index: 1;
    overflow: hidden;

    width: 144px;
    height: 144px;
    border-radius: 5px;

    box-shadow: 3px 5px 8px $gray-shadow-03-color;
    @include smooth-transition(box-shadow);

    &:hover {
      box-shadow: 3px 5px 8px color.adjust($gray-shadow-03-color, $alpha: +0.1);
      @include smooth-transition(box-shadow);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .content {
    position: relative;
    top: 8px;
    left: 8px;

    height: 152px;
    padding: 16px;
    padding-left: 160px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    background-color: $white-color;
    box-shadow: 0 4px 3px $gray-shadow-05-color;
    @include smooth-transition(box-shadow);

    &:hover {
      box-shadow: 0 4px 3px color.adjust($gray-shadow-05-color, $alpha: +0.1);
      @include smooth-transition(box-shadow);
    }

    .date {
      @extend .font-family-primary;
      @extend .font-weight-regular;
      @extend .font-size-xs;
      @extend .line-height-xs;
      @extend .letter-spacing-larger-01;
      @extend .font-color-gray-03;
    }

    .title,
    .text {
      @include multiline-ellipsis(2);
    }

    .title {
      @extend .font-family-secondary;
      @extend .font-weight-medium;
      @extend .font-size-m;
      line-height: 100%;
      @extend .letter-spacing-smaller;
      @extend .font-color-black;
    }

    .text {
      @extend .font-family-primary;
      @extend .font-weight-regular;
      @extend .font-size-xs;
      @extend .line-height-xxl;
      @extend .font-color-gray-02;
    }
  }
}
