@import '~style/colors';
@import '~style/mixins';

.button {
  $size: 40px;
  width: $size;
  height: $size;

  @include smooth-transition(all);

  svg path {
    fill: $white;
    @include smooth-transition(fill);
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      filter: none;

      svg path {
        fill: rgba($white, 0.4);
        @include smooth-transition(fill);
      }
    }

    &:active {
      transform: scale(0.97);
      @include smooth-transition(transform);
    }
  }
}
